
:root{
--HeaderFont: Moderustic;
--NormalFont: Moderustic;

/*-----Lightmode farben-----*/
--HeaderBackgroundL: rgb(0, 0, 0);
--BodyBackgroundL: white;
--DropdownColorL: rgba(0, 0, 0, 0.815);
--HeaderHeight: 10vh;
--BodyBackGroundIMG: url(../Bilder/Unbenannt.jpg); /*Hier Vereinsbild mit auf dem am besten möglichst viel drauf sind einfügen*/
--ButtonColorL: rgb(65, 65, 65);

    /*FontFarben Lightmode*/
    --HeaderFontL: #CFB53B;
    --ContentFontL: black;
    /*/FontFarben Lightmode*/
/*------/Lightmode farben------*/

}
body{
    margin:0;
    background-image: var(--BodyBackGroundIMG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vw;
    background-attachment: fixed;
}


/*------Header------*/
.header{
    font-size: 2.5vh;
    top:0;
    z-index:1;
    position: fixed;
    display: flex;
}

.logo{    
    height:var(--HeaderHeight);
}


#headertable{
    background-color: var(--HeaderBackgroundL);
    flex-flow: column nowrap;
    height:var(--HeaderHeight);
    width:100vw;
    padding-right:5vw;
    padding-left:5vw

}

a {
    text-decoration: none;
}

th.header-inhalt{
    border: 1px solid black;
    width: 10vw;  
}

#SpacerPC{
    width:60vw;
}

.button{
    display: flex;
    justify-content:center;
}

#headerText{
    color: var(--HeaderFontL);
}

.dropdown-content{
    width: 90%;
    display: none;
    position: absolute;
    background-color: var(--DropdownColorL);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    font-size: 3vh;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.button:hover .arrow{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.button:hover .dropdown-content{
    margin-top: 5vh;
    width:inherit;
    display: block;
}
/*-----/Header-----*/

/*------Body------*/
.body{
    margin-top: 50vh;
    padding-bottom: 5vh;
    border-radius: 20px 20px 0px 0px;
    padding-top: 5vh;
    margin-left: 15vw;
    width: 70vw;
    height: 100%;
    background-color: var(--BodyBackgroundL);
    color: var(--ContentFontL);
}
/*------/Body------*/

/*------Mannschaften------*/
#mannschaft{
    margin-top: 15vh;
    font-size: 6vh;
    text-align: center;
}

.tableMannschaften{
    margin-left: 2.5vw;
    display: flex;
    margin-top: 2vh;
    text-align: center;
    font-size: 3vh;
    
}

.herren{
    height: 5vh;
    width: 20vw;
    margin-right: 2.5vw;
    border-radius: 10px;
    background-color: var(--ButtonColorL);
    color: white;
}

.herren:hover {
    background-color: black;
}

.mFoto{
    height: 5vh;
    width: 20vw;
}

.info{
    text-align: center;
    font-size: 2vh;
}

    /*---Trainingsinfos---*/
    .trainingsInfos{
        font-size: 2vh;
    }
    /*---/Trainingsinfos---*/


/*------/Mannschaften------*/

/*-----Footer-----*/
.footer{
    
    background-color: var(--HeaderBackgroundL);
    height: 5vh;
}
/*-----Footer-----*/