:root{
    --HeaderFont: Moderustic;
    --NormalFont: Moderustic;

    /*-----Lightmode farben-----*/
    --HeaderBackgroundL: rgb(0, 0, 0);
    --BodyBackgroundL: white;
    --DropdownColorL: rgba(0, 0, 0, 0.815);
    --HeaderHeight: 10vh;

    --NewsRounding: 25px;

    --News1Pic: url(../Bilder/TestNews.png);
    --News2Pic: url(../Bilder/TestNews.png);
    --News3Pic: url(../Bilder/TestNews.png);
    --News4Pic: url(../Bilder/TestNews.png);

}


body{
    margin:0;
    background-image: var(--BodyBackGroundIMG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vw;
    background-attachment: fixed;
}

/*-----Header-----*/

.header{
    font-size: 2vh;
    top:0;
    z-index:1;
    position: fixed;
    display: flex;
}

.logo{    
    height:var(--HeaderHeight);
}


#headertable{
    background-color: var(--HeaderBackgroundL);
    flex-flow: column nowrap;
    height:var(--HeaderHeight);
    width:100vw;
    padding-right:5vw;
    padding-left:5vw

}

a {
    text-decoration: none;
}

th.header-inhalt{
    border: 1px solid black;
    width: 10vw;  
}

#SpacerPC{
    width:60vw;
}

.button{
    display: flex;
    justify-content:center;
}

#headerText{
    color:#CFB53B;
}

.dropdown-content{
    width: 90%;
    display: none;
    position: absolute;
    background-color: var(--DropdownColorL);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    font-size: 3vh;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.button:hover .arrow{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.button:hover .dropdown-content{
    margin-top: 5vh;
    width:inherit;
    display: block;
}
/*-----Header-----*/

/*-----Content-----*/
.body{
    margin-top: var(--HeaderHeight);
    z-index: 2;
}
.content{
    padding-top: 2vh;
    background-color: var(--BodyBackgroundL);
    width: 70vw;
    height: 100%;
    margin-left: 15vw;
}
/*------News------*/

.news{
    
    z-index: 0;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vw;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    aspect-ratio: 16/9;
}

.newsTxt{
    width: 40vw;
    padding-left: 2vh;
    padding-top: 52vh;
    color: white;
    position:absolute;
    font-size: 6vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}



.description{
    display: none;
    padding-left: 2vh;
    color: white;
    font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;

}

.news:hover #bgEffekt{
    border-radius: var(--NewsRounding);
    position:absolute;
    width: 60vw;
    aspect-ratio: 16/9;
    background: linear-gradient(45deg, rgba(8,8,8,1) 0%, rgba(255,255,255,0) 100%);
    background-position: center;
    background-size: cover;
}

.news:hover .description{
    margin: auto;
    position:relative;
    display: block;
}

.news:hover #title{
    margin-top: auto;
    position: relative;
}

.news:hover .newsTxt{
    padding-top: 42vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    margin-left: 57vw;
    border-radius: 3px 0 0 3px;
}


.News{
    border-radius: var(--NewsRounding);
    width: 60vw;
    aspect-ratio: 16/9;
    background-position: center;
    background-size: cover;
}

#News0{  
    
    display:  block; 
}

#News1{
    
    display: none;    
}

#News2{
    
    display: none;
}

#News3{
    
    display: none;
}
/*------News------*/


.spielÜbersicht{
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}

.spielÜbersichtContainer{
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: space-between;
}
.spielÜbersichtBilder{
    height: 23vh;
    aspect-ratio: 1/1; 
    background-color: gray;
}



/*------------------*/

/*-----Footer-----*/
.footer{
    background-color: var(--HeaderBackgroundL);
    height: 5vh;
}
/*-----Footer-----*/