:root{
    /*-----Lightmode farben-----*/
    --HeaderBackgroundL: gray;
    --BodyBackgroundL: white;
    --DropdownColorL: blue;
}


body{
    margin:0;
}
/*-----Header-----*/
.header{
    top:0;
    position: fixed;
}

.logo{    
    height:15vh;
}


#headertable{
    background-color: gray;
    flex-flow: column nowrap;
    /*border: 1px solid black;*/
    height:20vh;
    width:100vw;
    padding-right:5vw;
    padding-left:5vw

}

th.header-inhalt{
    border: 1px solid black;
    width:10vw;  
}

#SpacerPC{
    width:60vw;
}
/*-----Header-----*/

/*-----Content-----*/

.content{
    background-color: aqua;
    height: 1000px;
    width: 70vw;
    margin-left: 15vw;
}
/*-----Content-----*/

/*-----Footer-----*/
.footer{
    height: 5vh;
}
/*-----Footer-----*/